@model IEnumerable<Ledger.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcctHolderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcctNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcctType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcctHolderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcctNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcctType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
